<!DOCTYPE html>
<html>
<head>
    <title>MediaLibrary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

    {% set oViewConf = oView.getViewConfig() %}

    {{ style({ include: oViewConf.getModuleUrl('ddoewysiwyg', 'out/src/css/bootstrap.min.css') }) }}
    {{ style({ include: oViewConf.getModuleUrl('ddoewysiwyg', 'out/src/css/font-awesome.min.css') }) }}
    {{ style({ include: oViewConf.getModuleUrl('ddoewysiwyg', 'out/src/css/medialibrary.min.css') }) }}

    {{ style() }}
</head>
<body class="dd-media-wrapper{% if request.overlay %} dd-overlay{% endif %}">

    {% if not request.overlay %}
        <nav class="navbar navbar-default dd-navbar">
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand" href="javascript:void(null);">
                        {{ translate({ ident: "DD_MEDIA_DIALOG" }) }}
                    </a>
                </div>

                {% if not request.popout %}
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <li><a href="{{ oViewConf.getSelfLink()|replace({'&amp;':'&'})|raw }}cl={{ oViewConf.getActiveClassName() }}&popout=1" target="_blank" class="dd-admin-popout-action"><i class="fa fa-expand"></i></a></li>
                    </ul>
                {% endif %}

            </div>
        </nav>
    {% endif %}

    <div class="dd-content">
        {% include "@ddoewysiwyg/dialog/ddoewysiwygmedia.html.twig" %}
    </div>

{{ script({ include: oViewConf.getSelfLink()|cat('cl=ddoewysiwyglangjs'), priority: 1, dynamic: __oxid_include_dynamic }) }}

{{ script({ include: oViewConf.getModuleUrl('ddoewysiwyg', 'out/src/js/jquery.min.js'), priority: 1, dynamic: __oxid_include_dynamic }) }}
{{ script({ include: oViewConf.getModuleUrl('ddoewysiwyg', 'out/src/js/bootstrap.min.js'), priority: 1, dynamic: __oxid_include_dynamic }) }}
{{ script({ include: oViewConf.getModuleUrl('ddoewysiwyg', 'out/src/js/medialibrary.min.js'), priority: 1, dynamic: __oxid_include_dynamic }) }}

{% set sActionLink = oViewConf.getSelfLink()|replace({'&amp;':'&'})|cat('overlay=' ~ request.overlay ~ '&') %}
{% set sMediaLink = oConf.getCurrentShopUrl(true)|regex_replace('/([^\/])(\/admin)/', '$1')|regex_replace('/http(s)?\, /', '')|trim('/', 'right')|cat('/out/pictures/ddmedia/') %}

{{ script({ add: "MediaLibrary.setActionLink('" ~ sActionLink ~ "');", priority: 10, dynamic: __oxid_include_dynamic }) }}
{{ script({ add: "MediaLibrary.setResourceLink('" ~ sMediaLink ~ "');", priority: 10, dynamic: __oxid_include_dynamic }) }}
{{ script({ add: 'MediaLibrary.init(/image\\/.*/i, null );', priority: 10, dynamic: __oxid_include_dynamic }) }}

{{ script({ dynamic: __oxid_include_dynamic }) }}

</body>
</html>
